body {
    background-color: rgb(27, 34, 61);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, label, span, input, table, button {
    color: rgb(255, 255, 255)
}

h1 {
    font-size: 1.5rem;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
}

.header-img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.footer-img {
    height: 3rem;
    margin-bottom: 0.5rem;
}
footer {
    padding: 1rem 0;
}
footer > p {
    margin: 0 0;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    background-color: #00000000;
    font-size: 1rem;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.1);
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 1rem;
    display: block;
}

.item-card {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 1rem;
}

.item-label, .item-number {
    color: #000000;
}

.item-img {
    width: 100%;
}

.checkout-info {
    margin: 2rem 0;
}

.checkout-table {
    width: 100%;
    border-collapse: collapse;
}

.checkout-table th, .checkout-table td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

.checkout-table th {
    background-color: #121212;
    font-weight: bold;
}

.checkout-table tfoot td {
    font-weight: bold;
    background-color: #232323;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.checkout-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(38, 46, 74);
}

.back-btn {
    width: 35%;
    padding: 1rem;
    font-size: 1.25rem;
    margin-right: 0.5rem;
    background-color: rgb(50, 56, 75);
}

.submit-btn {
    width: 35%;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(55, 69, 121);
}
  
.checkout-btn:hover {
    background-color: rgb(67, 70, 81);
}

.submit-btn:hover {
    background-color: rgb(30, 46, 104);
}

.submit-btn:disabled {
    background-color: #3c3c3c;
    cursor: default;
}

.back-btn:hover {
    background-color: rgb(43, 54, 94);
}

.hide {
    display: none;
}

.confirm-text {
    display: flex;
    gap: 1rem;
    margin: 2rem 0;
    align-items: start;
}

#qr_code {
    width: 100%;
    max-width: 512px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    html {
        font-size: 20px;
    }
    .container {
        width: 90%;
    }
    label, input[type="text"], input[type="email"], input[type="number"] {
        font-size: 0.75rem;
    }
    .item-card {
        display: flex;
        align-items: center;
    }
    .item-img {
        width: 50%;
        margin-right: 2rem;
    }
    .checkout-btn {
        width: 50%;
        font-size: 1rem;
        padding: 0.75rem;
    }

    .back-btn {
        width: 35%;
        padding: 0.75rem;
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    
    .submit-btn {
        width: 35%;
        padding: 0.75rem;
        font-size: 1rem;
    }
      
}

@media only screen and (min-width: 1200px) {
    /* For desktop: */
    html {
        font-size: 24px;
    }
    .container {
        width: 80%;
    }
    label, input[type="text"], input[type="email"], input[type="number"] {
        font-size: 0.75rem;
    }
    .flex-box {
        display: flex;
        gap: 1rem;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }
    
    .flex-grow {
        flex-grow: 1;
    }

    .item-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
    }

    .item-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .checkout-btn {
        width: 35%;
        font-size: 0.8rem;
    }

    .back-btn {
        width: 35%;
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
    
    .submit-btn {
        width: 35%;
        font-size: 0.8rem;
    }
}

